# General
port 6379
bind 0.0.0.0

# Persistence
save 900 1
save 300 10
save 60 10000
dbfilename dump.rdb
dir /var/lib/redis

# Security
# requirepass yourpassword

# Logging
# logfile /var/log/redis/redis-server.log
loglevel notice

# General settings
databases 16
